<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test4_dof_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.91716587637066E-09 -0.0403002903986256 0.00812903865775771"
        rpy="0 0 0" />
      <mass
        value="0.170234591037879" />
      <inertia
        ixx="0.000190344867929517"
        ixy="-2.87752967166211E-12"
        ixz="1.49585044578155E-11"
        iyy="0.000385505347421722"
        iyz="4.25280510149558E-08"
        izz="0.000209895117595717" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link0">
    <inertial>
      <origin
        xyz="-0.000148686471246792 -0.0108477499496044 0.0127257064637936"
        rpy="0 0 0" />
      <mass
        value="0.0134533721751118" />
      <inertia
        ixx="2.84098753200004E-06"
        ixy="-3.4307159559468E-09"
        ixz="5.30738424481828E-11"
        iyy="2.18307388098522E-06"
        iyz="2.0019419066969E-07"
        izz="3.55990656348061E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint0"
    type="revolute">
    <origin
      xyz="0 -0.00968 0.0037502"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2"
      upper="2"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-2.62658044619668E-09 -0.0345571058935115 0.0254946423103066"
        rpy="0 0 0" />
      <mass
        value="0.0120579589553567" />
      <inertia
        ixx="7.19129614481569E-06"
        ixy="-6.77986390248771E-09"
        ixz="7.80423344774602E-21"
        iyy="5.27353232807871E-06"
        iyz="-2.08826968289198E-19"
        izz="2.71342255945596E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.02575 -0.00081639 0.017894"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.9"
      upper="1.5"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.0265477568891185 5.89201840095477E-10 0.0209223131306843"
        rpy="0 0 0" />
      <mass
        value="0.0163235420272894" />
      <inertia
        ixx="4.24056894578294E-06"
        ixy="3.3898849906389E-09"
        ixz="-3.36881501952151E-09"
        iyy="6.33118981534797E-06"
        iyz="-4.63361312936769E-15"
        izz="3.44644530707849E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.081399 0.00495"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="0.9"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.033832 -8.9596E-05 0.021063"
        rpy="0 0 0" />
      <mass
        value="0.026612" />
      <inertia
        ixx="6.1113E-06"
        ixy="-1.4134E-12"
        ixz="-2.371E-07"
        iyy="5.9084E-06"
        iyz="3.3192E-09"
        izz="5.1331E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.077374 0 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="1.5"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link4_0">
    <inertial>
      <origin
        xyz="-0.0006307 0.033046 -0.02663"
        rpy="0 0 0" />
      <mass
        value="0.008697" />
      <inertia
        ixx="7.0254E-06"
        ixy="4.55E-07"
        ixz="-4.4719E-09"
        iyy="7.9398E-07"
        iyz="3.3349E-08"
        izz="6.772E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link4_0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link4_0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4_0"
    type="revolute">
    <origin
      xyz="0.053675 -0.0266 0.0103"
      rpy="1.5708 1.5708 0" />
    <parent
      link="link3" />
    <child
      link="link4_0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="2"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="link4_1">
    <inertial>
      <origin
        xyz="0.00017396 0.031505 -0.031493"
        rpy="0 0 0" />
      <mass
        value="0.013737" />
      <inertia
        ixx="1.1307E-05"
        ixy="-5.7111E-07"
        ixz="-4.6526E-08"
        iyy="1.2253E-06"
        iyz="-7.5619E-07"
        izz="1.0889E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link4_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test4_dof_robot/meshes/link4_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4_1"
    type="revolute">
    <origin
      xyz="0.053675 -0.0263 0.0323"
      rpy="1.5708 1.5708 0" />
    <parent
      link="link3" />
    <child
      link="link4_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2"
      upper="0"
      effort="100"
      velocity="1" />
  </joint>
</robot>