<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test4_dof_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import test4_dof_robot urdf file -->
    <xacro:include filename="$(find test4_dof_robot)/urdf/test4_dof_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="test4_dof_robot.ros2_control.xacro" />


    <xacro:test4_dof_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
