<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test_arm_1018_new_new">
  <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link0">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint0"
    type="revolute">
    <origin
      xyz="0 -0.0025385993980081 0.0537499999998391"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2"
      upper="2"
      effort="28.0"
      velocity="10.0" />
  </joint>
  <link
    name="link1">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0257499999999922 -0.000816386290255001 0.0178942036737967"
      rpy="-1.57079632679482 0 1.5707963267949" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.9"
      upper="1.5"
      effort="28.0"
      velocity="10.0" />
  </joint>
  <link
    name="link2">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.0813988613306236 0.00495000000000783"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="0.9"
      effort="28.0"
      velocity="10.0" />
  </joint>
  <link
    name="link3">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.077374 0 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0"
      upper="1.5"
      effort="28.0"
      velocity="10.0" />
  </joint>
  <link
    name="link4_end">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link4_end.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link4_end.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="jointe_end"
    type="fixed">
    <origin
      xyz="0.063675 0.00335 0.019975"
      rpy="0 0 -3.1416" />
    <parent
      link="link3" />
    <child
      link="link4_end" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link4_0">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link4_0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link4_0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4_0"
    type="revolute">
    <origin
      xyz="0.01 0.02995 -0.009675"
      rpy="1.5708 -0.01083 3.1416" />
    <parent
      link="link4_end" />
    <child
      link="link4_0" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0.0"
      upper="2.0"
      effort="28.0"
      velocity="10.0" />
  </joint>
  <link
    name="link4_1">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link4_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_urdf/meshes/visual/link4_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4_1"
    type="revolute">
    <origin
      xyz="0.01 0.02965 0.012325"
      rpy="1.5708 -0.010399 -3.1416" />
    <parent
      link="link4_end" />
    <child
      link="link4_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.0"
      upper="0.0"
      effort="28.0"
      velocity="10.0" />
  </joint>
</robot>