<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robo_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import robo_description urdf file -->
    <xacro:include filename="$(find robo_description)/urdf/robot_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="robo_description.ros2_control.xacro" />


    <xacro:robo_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
